#include "tool.h"

id ICON "../misc/svkey.ico"
1 24 "tool.manifest"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  PRODUCT_VERSION
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Xi Jinpwned Software Global Limited"
      VALUE "FileDescription", SVKEY_N_FULL
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "svkey"
      VALUE "LegalCopyright", "Copyright (C) 2023 Xi Jinpwned Software"
      VALUE "LegalTrademarks", "For non-commercial use only."
      VALUE "OriginalFilename", "svkey.exe"
      VALUE "ProductName", SVKEY_N_FULL
      VALUE "ProductVersion", VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0, 1252
  END
END
